.navBar {
  display: flex;
  justify-content: space-between;
}

.cryptoEntry {
  display: flex;
  justify-content: space-between;
}

.cryptoChart {
  display: block;
  width: 60%;
  height: 5%;
}

.cryptoImage {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  z-index: 5;
}